/** CSS STYLE **/
:root {
  --white: #fff;
  --white-transparent: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --dark-transparent: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h1,
h2,
h3 {
  margin: 0;

  font-weight: 400;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;

  color: var(--dark);
  font: 16px/1.6em "Open Sans", sans-serif;
}

section,
header,
footer {
  position: relative;
  z-index: 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

header::before,
.distortion::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

header {
  background-color: var(--light);
}

.highlight {
  color: var(--main);
}

.header-img {
  position: absolute;
  top: 55px;
  right: -104px;
  z-index: -1;

  height: 525px;
}

.two-columns {
  display: flex;
  gap: 30px;
}

.two-columns > * {
  flex-basis: 50%;
}

.btn {
  display: block;
  width: fit-content;
  padding: 12px 24px;

  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--main);
  cursor: pointer;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-185 {
  margin-bottom: 190px;
}

.video {
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.what-is {
  z-index: 1;

  margin-bottom: -100px;
  padding-top: 100px;

  text-align: center;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cognitive-distortions {
  padding-top: 100px;

  background-color: var(--main-dark);
}

.cognitive-distortions-title,
.cognitive-distortions-card {
  width: 350px;
  margin: 0;
}

.cognitive-distortions-title {
  color: var(--white);
  font-size: 52px;
}

.cognitive-distortions-card {
  padding: 24px;

  color: var(--main-dark);
  text-decoration: none;

  background-color: var(--light);
  cursor: pointer;
}

.cognitive-distortions-number {
  display: block;
  margin: 0 0 40px;

  font: 64px/1 Neucha, sans-serif;
}

.cognitive-distortions-card-title {
  margin-bottom: 16px;

  color: var(--main);
}

.cognitive-distortions-card:hover,
.cognitive-distortions-card:hover > .cognitive-distortions-card-title {
  color: var(--white);

  background-color: var(--main);
}

.distortion {
  background-color: var(--light);
}

.distortion-dark {
  color: var(--white);

  background-color: var(--brown);
}

.distortion-header {
  display: flex;
  gap: 30px;
}

.distortion-dark .distortion-header {
  flex-direction: row-reverse;
}

.distortion-image {
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.distortion-section-name {
  color: var(--dark-transparent);
  font: 24px Neucha, sans-serif;
}

.distortion-dark .distortion-section-name {
  color: var(--white-transparent);
}

.distortion-title {
  margin-top: 0;
}

.distortion-description {
  font: 34px Neucha, sans-serif;
}

.distortion-content {
  margin-top: 100px;
}

.distortion-content-title {
  margin-bottom: 20px;
  padding: 5px 10px;

  color: var(--white);
  font: bold 14px "Open Sans", sans-serif;
  text-transform: uppercase;

  background-color: var(--brown);
}

.distortion-dark .distortion-content-title {
  color: var(--brown);

  background-color: var(--white);
}

footer .two-columns {
  padding: 40px 55px;

  color: var(--white);

  background-color: var(--main-dark);
}

.subscription {
  align-items: center;
}

.subscription-form-title {
  margin-bottom: 10px;

  font-size: 18px;
}

.subscription-form {
  display: flex;
}

.subscription-form-input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px;

  border: none;
}

.subscription-form-btn {
  min-width: 70px;
  height: 50px;

  background-color: var(--main);
  border: none;
}

.subscription-form-btn::before {
  content: url("../images/send.svg");
}

.subscription-form-info {
  font-size: 12px;
}

.subscription-form-info-link {
  color: var(--white);
}

.contacts-info {
  margin-top: 60px;

  font-size: 14px;
  text-align: center;
}

.contacts-info-item:not(:last-child) {
  margin-bottom: 16px;
}
