/** CSS STYLE **/
:root {
  --white: #fff;
  --white-transparent: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --dark-transparent: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
  font-family: 'Neucha';
  font-weight: 400;
  src: url('../fonts/Neucha-Regular.ttf');
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h1,
h2,
h3 {
  line-height: 1.2em;
  font-weight: 400;
  font-family: 'Neucha', sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
  font: 16px/1.6em 'Open Sans', sans-serif;
  color: var(--dark);
}

section,
header,
footer {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 165px;
  position: relative;
}

.background::before {
  content: '';
  background-image: url(../images/background.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;
}

header {
  background-color: var(--light);

}

.highlight {
  color: var(--main);
}

.header-img {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -100px;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-30 {
  gap: 30px;
}

.btn {
  background-color: var(--main);
  text-transform: uppercase;
  color: var(--white);
  padding: 12px 24px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  display: block;
  width: fit-content;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-185 {
  margin-bottom: 185px;
}

.text-center {
  text-align: center;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.what-is {
  margin-bottom: -200px;
  z-index: 1;
}

.cognitive-distortions {
  background-color: var(--main-dark);
  padding-top: 200px;
}

.cognitive-distortions-title,
.cognitive-distortions-card {
  width: 350px;
  margin: 0;
}

.cognitive-distortions-title {
  font-size: 52px;
  color: var(--white);
}

.cognitive-distortions-card {
  background-color: var(--light);
  padding: 24px;
  box-sizing: border-box;
  cursor: pointer;
}

.cognitive-distortions-number {
  margin: 0 0 40px;
  font: 64px/1 'Neucha', sans-serif;
}

.cognitive-distortions-card-title {
  color: var(--main);
}

.cognitive-distortions-card:hover,
.cognitive-distortions-card:hover>.cognitive-distortions-card-title {
  background-color: var(--main);
  color: var(--white);
}